@import url(./fonts.css);

/* CUSTOM PROPS */
:root {
    --Dark-Charcoal: #312E2C;
    --Wenge-Brown: #5F564D;
    --Dark-Raspberry: #7A284E;
    --Brandy-Red: #854632;
    --Eggshell: #F3E5D7;
    --White: #fff;
    --Snow: #FFF7FB;
    --Outfit: "Outfit";
    --YoungSerif: "YoungSerif";
}

/* GLOBAL STYLES */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--Outfit);
    background-color: var(--Eggshell);
    font-size: 16px;
    padding-top: 123px;
    padding-bottom: 124px;
}

/* CARDS-STYLE */

.cards {
    max-width: 736px;
    width: 100%;
    padding: 40px;
    background-color: var(--White);
    margin: auto;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.card-image {
    width: 100%;
    height: 300px;
}

.card-image__photo {
    border-radius: 12px;
    object-fit: cover;
}

.cards-body {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.cards-recipe {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.cards-recipe__headline {
    font-family: var(--YoungSerif);
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    color: var(--Dark-Charcoal);
}

.cards-recipe-desc {
    font-family: var(--Outfit);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--Wenge-Brown);
}

/* CARDS-STYLE */

/* PREPASITION-TIME */
.preparation-time {
    background-color: var(--Snow);
    padding: 28px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.preparation-time__title {
    color: var(--Dark-Raspberry);
    font-family: var(--Outfit);
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
}

.preparation-time__list,
.list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.preparation-time__item,
.item {
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.preparation-time__text,
.text {
    color: var(--Wenge-Brown);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.preparation-time__span,
.span {
    font-weight: 700;
}

/* PREPASITION-TIME */

/* Ingredients */
.Ingredients {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.Ingredients__title {
    color: var(--Brandy-Red);
    font-family: var(--YoungSerif);
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
}

.Ingredients__item {
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.Ingredients__text {
    color: var(--Wenge-Brown);
    font-family: var(--Outfit);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.site-line {
    width: 100%;
    height: 1px;
    background-color: #E3DDD7;
}

/* //Ingredients */


/*  Instructions*/
.Instructions {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.Instructions__title {
    color: var(--Brandy-Red);
    font-family: var(--YoungSerif);
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
}



.Instructions__item {
    display: flex;
    align-items: flex-start;
    column-gap: 16px;
}

.list-number {
    color: var(--Brandy-Red);
    font-family: var(--Outfit);
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}

.Instructions__text {
    max-width: 616px;
    width: 100%;
}

/*  //Instructions*/

/* Nutrition */
.Nutrition {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.nutrition-title {
    color: var(--Brandy-Red);
    font-family: var(--YoungSerif);
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
}

.nutrition-desc {
    color: var(--Wenge-Brown);
    font-family: var(--Outfit);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.nutrition-table {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.table-data {
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

.table-text {
    width: 288px;
    color: var(--Wenge-Brown);
    font-family: var(--Outfit);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.table-amount {
    width: 288px;
    color: var(--Brandy-Red);
    font-family: var(--Outfit);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

/* //Nutrition */